.signup {
    font-family: 'Nunito', sans-serif;

    &__modal {
        width: 440px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.modal {    
    &__form {
        background-color: rgba(255, 255, 255, 0.9);
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #DDDDDD;
        padding: 30px 60px;
    }
    
    &__error {
        color: red;
        margin: 10px 0;
        height: 18px;
        font-size: 14px;

        &:before {
            content: 'i';
            margin-right: 10px;
            display: inline-block;
            border: 2px solid red;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            text-align: center;
            font-family: Arial;
            font-size: 11px;
            font-weight: 900;
            color: red;
        }
    }
}