.history-page {
    width: 960px;
    margin: 0 auto;
    
    &__month-container {
        width: 960px;
        height: 100%;
        position: relative;
    }

    &__month-dropzone {
        padding: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #DDDDDD;
    }   
}

.month {
    &__title {
        font-family: Nunito, san-serif;
        text-align: center;
    }
}

.month-detail {
    width: 360px;
    margin: 0 auto;

    &__title {
        padding-top: 50px;
        text-align: center;
        text-transform: capitalize;
    }

    &__month-total {
        padding-top: 40px;
    }

    &__days {
        padding-top: 20px;
        margin: 0;
        list-style-type: none;
    }
    
    &__day {
        padding-top: 20px;
        display: flex;
        align-items: center;
    }

    &__day-date {
        display: inline-block;
        margin-right: 20px;
    }

    &__day-duration {
        display: inline-block;
        font-size: 24px;
    }
}
