.square {
    &:hover {
        fill: blue;
    }
}

.navbar {
    padding: 10px;

    &__link {
        display: inline-block;

        &:not(:last-child) {
            padding-right: 5px;
        }
    }
}
